SURVEY DATA ANALYSIS PROJECT

Step 1: Import Data

In [15]:
import pandas as pd
df=pd.read_csv("C:\\Users\\elect\\OneDrive\\Desktop\\surveydata.csv")

In [16]:
df.head()

  participant ID SEX   AGE   Q1   Q2   Q4  Q5
0              A   F  23.0  7.0  8.0  8.0   8
1              B   M  34.0  7.0  7.0  7.0   7
2              C   F  27.0  9.0  8.0  8.0   8
3              D   M  32.0  9.0  8.0  9.0   8
4              E   M  50.0  2.0  5.0  5.0   4

Step 2 Cleaning Data and print all non-numerical values

In [20]:
categorical=df.dtypes[df.dtypes == "object"].index
print(categorical)

Index(['participant ID', 'SEX'], dtype='object')

In [22]:
df[categorical].describe()

       participant ID SEX
count              14  14
unique             14   2
top                 A   M
freq                1   8

Step 3 Data summary

In [19]:
df.describe()

             AGE         Q1        Q2         Q4         Q5
count  13.000000  13.000000  12.00000  13.000000  14.000000
mean   32.615385   7.307692   7.25000   6.615385   7.357143
std    10.145101   1.843213   1.05529   1.894662   1.905746
min    19.000000   2.000000   5.00000   3.000000   4.000000
25%    27.000000   7.000000   7.00000   5.000000   6.250000
50%    32.000000   8.000000   7.00000   7.000000   8.000000
75%    34.000000   8.000000   8.00000   8.000000   8.750000
max    56.000000   9.000000   9.00000   9.000000  10.000000